<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes recettes</title>
</head>
<body>
    <h2> Ajouter une recette </h2>

    <form action="add_recipe" method="post" novalidate>
        {% csrf_token %}

        {{ RecipeForm }}

        <button type="submit">Ajouter la recette</button>
    </form>

    <h2> Ajouter un ingrédient à la recette </h2>

    <form action="add_ingredient" method="post" novalidate>
        {% csrf_token %}

        {{ IngredientsForm }}

        <button type="submit">Ajouter l'ingrédient</button>
    </form>

    <h2> Mes Recettes </h2>

    <ul>
        {% for recipe in recipes %}
            <li>
                {{ recipe }}

                <form action="archive_recipe" method="post" novalidate>
                    {% csrf_token %}

                    <label for="is_archived"> Archiver ? : </label><input type="checkbox" id="is_archived" name="is_archived">
                    <input type="hidden" name="id" value="{{ recipe.id }}">

                    <button type="submit">Archiver</button>
                </form>
                <ul>
                    {% for ingredient in recipe.ingredients_set.all %}
                        <li> {{ ingredient.quantity }} {{ ingredient.unity }} of {{ ingredient.name }} </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h2> Mes Recettes archivées </h2>

    <ul>
        {% for archived_recipe in archived_recipes %}
            <li>
                {{ archived_recipe }}

                <form action="archive_recipe" method="post" novalidate>
                    {% csrf_token %}

                    <label for="is_not_archived"> Ne plus archiver ? : </label><input type="checkbox" id="is_not_archived" name="is_not_archived">
                    <input type="hidden" name="id" value="{{ archived_recipe.id }}">

                    <button type="submit">Ne plus archiver</button>
                </form>
                <ul>
                    {% for ingredient in archived_recipe.ingredients_set.all %}
                        <li> {{ ingredient.quantity }} {{ ingredient.unity }} of {{ ingredient.name }} </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>